<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="../../css/example.css"/>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxTEbJsXwGRW4zDj8fpVsenDMMQGhZhUU&sensor=false">
    </script>
    <script type="text/javascript"
      src="../../../externals/openlayers/OpenLayers.debug.js">
    </script>
    <script data-main="../../initialize" src="../../../externals/require.js"></script>
    <script type="text/javascript">
      function initialize() {
        require.setStrategy('openlayers');
        require([
          'vendor/jquery',
          'vendor/underscore',
          'base/map',
          'base/layers/googleroadmap',
          'base/layers/aerisadvisorieskml'
        ], function() {
          window.$ = require('vendor/jquery');
          window._ = require('vendor/underscore');

          var map = new aeris.maps.Map("map-canvas", {
            baseLayer: new aeris.maps.layers.GoogleRoadMap(),
            center: [44.98, -93.2636],
            zoom: 4
          });

          var advisories = new aeris.maps.layers.AerisAdvisoriesKML();
          advisories.setMap(map);

          var template = $('#advisoryTemplate').html();
          advisories.on('click', function(latLon, data) {
            var html = _.template(template, data);
            $('#advisory').html(html);
          });

          var $opacity = $("#opacity");
          $opacity.change(function() {
            advisories.setOpacity($opacity.val());
          });
        });
      }
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div>
      <label for="opacity">Opacity:</label>
      <select id="opacity">
        <option value="1" selected="selected">100%</option>
        <option value="0.9">90%</option>
        <option value="0.8">80%</option>
        <option value="0.7">70%</option>
        <option value="0.6">60%</option>
        <option value="0.5">50%</option>
        <option value="0.4">40%</option>
        <option value="0.3">30%</option>
        <option value="0.2">20%</option>
        <option value="0.1">10%</option>
        <option value="0">0%</option>
      </select>
    </div>

    <script id="advisoryTemplate" type="text/template">
      <h3><%= name %></h3>
      <small>From <%= author %></small>
      <p>
        <%= description %>
      </p>
    </script>

    <div id="advisory"></div>
  </body>
</html>
