# standard gitignore
.idea/
.idea/*
.DS_STORE
*.log

# Sandbox
examples/sandbox/*.*
examples/sandox/js/*
!examples/sandox/js/
!examples/sandbox/index.html
!examples/sandbox/js/main.js
!examples/sandbox/js/init.js

# environment specific files
examples/apikeys.js

# SASS
.sass-cache
**/theme/**/*.css
**/themes/**/*.css
!**/themes/**/styleguide/*.css
!**/themes/**/styleguide/**/*.css

build/

# Generated YUIDoc documentation
docs/public/
docs/api/
docs/assets/css/

# Generated SpecRunners
tests/specrunner.html
tests/specrunner-*.html

# Nested libraries
# (for dev environment, only)
aeris-riderx/
aeris-interactive/
grumblejs/