# standard gitignore
.idea/
.idea/*
.DS_STORE
*.log

bower_components/
examples/amd/bower_components

# Sandbox
examples/sandbox/js/app.js

# environment specific files
examples/apikeys.js

# SASS
.sass-cache
**/theme/**/*.css
**/themes/**/*.css
!**/themes/**/styleguide/*.css
!**/themes/**/styleguide/**/*.css

build/

# node
**/node_modules/

# Generated YUIDoc documentation
docs/public/
docs/api/
docs/assets/css/

# Generated SpecRunner
tests/specrunner.html

aeris-riderx/