ul#api-classes {
  ul {
    @extend %resetList;
    margin-top: 5px;

    li {
      &:first-child {
        margin-top: -5px;
      }

      padding-left: 10px;
      margin-left: 4px;
      border-left: 1px dashed #E4E4E4;
    }
  }

  summary:focus {
    outline: none;
  }
}

#api-tabview-filter { display: none; }