<section class="geosearch">
  <span class="geolocateControls"></span>
  <span class="geocodeRegion"></span>
</section>

<div class="scrollable">
  <section class="mapControls state-closed">
    <h1>
      <span class="icon-controls"></span>
      MapOptions
      <a class="toggleCollapseBtn" onclick="return false;" href="#"></a>
    </h1>

    <section class="menu layerControls"></section>

    <section class="menu markerControls"></section>

    <section class="menu waypointControls"></section>

    <section class="menu publicTrailsControls"></section>
  </section>

  <section class="routeBuilderControls"></section>
</div>

<footer>
  <ul>
    <li class="tipsControls">
      <a href="#">
        <span class="icon-info"></span>
        <span>Tips</span>
      </a>
    </li>
  </ul>
</footer>