.classDocs {
  @extend %resetList;

  font-size: 12px;
  margin: 10px 0;
}

a.ref {
  @extend %inlineCode;

  &, &:hover {
    text-decoration: none;
  }

  &:hover {
    background: #eaebf8;
  }
}

code {
  @include font-monospace;
}

pre {
  margin: 0;
  padding: 0;
}

.example {
  @extend %inlineCode;
  @include inline-block;
  margin: 0 0 20px 0;
  padding: 8px 12px;
}

.typeDocs {
  margin-top: 30px;

  header {
    font-weight: bold;
    font-size: 13px;
  }

}

.isRequired {
  font-style: italic;
}

.classTitle {
  span {
    display: inline;
    font-size: 0.75em;
  }
}