body .container .downloads {

  tr {

    &, &:nth-child(2n) {
      background: none;
    }

    td {
      border: none;
      padding: 0;

      &:last-child {
        padding-left: 10px;
        line-height: 1.35em;
        font-style: italic;
      }
    }
  }

  .btn, button {
    width: 230px;
    margin: 5px 0;
  }
}