* {
  @include box-sizing(border-box);
}

#titleHeader {
  height: 100px;
}

#super-header {
  height: 40px;
  width: 100%;
}

#sidebar {
  float: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  width: 200px;
}

.container {
  position: relative;
  width: 600px;
  margin: 40px 0 50px 260px;
}