<section class="aeris-geosearch">
  <span class="aeris-geolocateControls"></span>
  <span class="aeris-geocodeRegion"></span>
</section>

<div class="aeris-scrollable">
  <section class="aeris-mapControls aeris-state-closed">
    <h1>
      <span class="aeris-icon-controls"></span>
      Map Options
      <a class="aeris-toggleCollapseBtn" onclick="return false;" href="#"></a>
    </h1>

    <section class="aeris-menu aeris-layerControls"></section>

    <section class="aeris-menu aeris-markerControls"></section>
  </section>

  <div class="aeris-routeBuilderControls"></div>
</div>

<footer>
  <ul>
    <li class="aeris-tipsControls">
      <a href="#">
        <span class="aeris-icon-info"></span>
        <span>Tips</span>
      </a>
    </li>
  </ul>
</footer>