#map-canvas {
  width: 800px;
  height: 600px;
}

.loading {
  display: none;

  position: absolute;
  top:0; left: 0;
  z-index: 9999;

  text-align: center;
  width: 100%;

}
.loading-content {
  width:150px;
  margin:20% auto;

  padding: 20px;
  text-align: center;

  background: rgba(255, 255, 255, .65);

  -webkit-box-shadow: 0 0 9999px 9999px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 9999px 9999px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 9999px 9999px rgba(0, 0, 0, 0.7);

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.float-left {
	float: left;
	margin-right: 10px;
}

.float-right {
	float: right;
}


#flash-message, .flash-message {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 9999;
}
  .flash-content {
    font-size:14px;
    padding: 5px 10px;
    background: #FAF9CC;
    display: inline-block;
    color: #000;
    font-family: sans-serif;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px 0px 10px 2px rgba(100,100,100, .2);
    border: 1px solid rgba(255,255,255, .2);
    border-bottom: none;
  }


.aeris-cluster:after {
  content: '';
  position: absolute;
  top: -11px;
  right: -14px;
  width: 21px;
  height: 18px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background-image: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background-image: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background-image: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background-image: linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.aeris-cluster div {
  z-index: 2;
}