@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

.aeris-navBar {

  input[type=text] {
    @include placeholder {
      font-size: 10px;
      color: #6d6d6d;
      font-style: italic;
    }
  }

  .aeris-geolocate {
    float: right;
    margin: 5px 0 0 5px;

    button {
      font-size: 20px;
      font-weight: bold;
      padding: 1px 3px 1px 6px;
      line-height: 1em;
    }
  }

  .aeris-geocode {
    float: right;
    margin: 5px 0 0 5px;

    input[type=submit] {
      font-size: 12px;
      font-weight: bold;
      padding: 4px 6px;
      line-height: 1em;
    }

    input[type=text] {
      width: 160px;
    }
  }
}