/**
 * Document layout styles for Default Aeris Maps theme.
*/

@mixin section {
  padding: 10px;
  border-top: 1px solid rgba($grey-dk, 0.35);

  &:first-child {
    border-top: none;
  }
}
$section-padding: 8px;

.aeris-maps-app {
  @include nested-reset;
  position: relative;
  width: 100%;
  height: 100%;


  .aeris-map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .aeris-heading {
    background-color: $grey-dk;
    color: #fff;
    @include section;
  }

  .aeris-section {
    @include section;


    label, span {
      color: $grey-dk;
    }

    label {
      font-size: 12px;
    }
  }

  .aeris-map-controls {
    position: absolute;
    top: 10%;
    right: 5%;

    z-index: 100;

    padding:10px;
    line-height:1.75em;

    @include overlay;
    background: #fff;
  }
}


.loading {
  display: none;

  position: absolute;
  top:0; left: 0;
  z-index: 9999;

  text-align: center;
  width: 100%;

  .loading-content {
    width:150px;
    margin:35% auto;

    padding: 20px;
    text-align: center;

    background: rgba(225, 225, 225, 0.95);

    @include box-shadow(0 0 9999px 9999px rgba(0, 0, 0, 0.55));

    @include border-radius(15px);
  }
}