@import "slideoutfooter";

footer {
  padding: 40px 11% 70px 270px;
  @include box-sizing(border-box);
  @include pie-clearfix;

  @include box-shadow(0 5px 4px 0 rgba(black ,0.15) inset);

  font-size: 11px;

  nav {
    float: left;
    width: 540px;


    ul {
      @extend %inlineList;

      li {
        a {
          @include font-header;
          color: #A7B0B7;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .socialLinks {
    float: right;
  }

  .copyright {
    position: absolute;
    bottom: 30px;

    clear: both;
    text-transform: uppercase;
    color: #444;
  }
}