/**
 * Just purty enough for testing during development
*/
#app {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
}

/* Quick and dirty full-screen map */
.aeris-fullScreen, #aeris-mapContainer, .aeris-map-canvas {
  width: 100%;
  height: 100%;
}

.aeris-maps-app {
  width: 90%;
  height: 90%;
  margin: 1% auto;
  box-sizing: border-box;

  overflow: hidden;
  position: relative;

  outline: 1px solid black;
}

.aeris-markerTypeControls {
  margin-top: 15px !important;
}
.aeris-markerTypeControls:first-child {
  margin-top: 0 !important;
}

.aeris-markerFilterSelect {
  border: 1px solid #ccc !important
}

.aeris-markerToggle {
  cursor: pointer;
  padding: 5px  !important;
  background: #BCD9E1 !important;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.5);
}
.aeris-markerToggle:active {
  box-shadow: none;
}
.aeris-markerToggle:hover {
  background: #BCCFE1 !important;
}
.aeris-markerToggle input[type=checkbox] {
  display: none;
}
.aeris-markerFilterSelect {
  font-size: 12px !important;
}



.aeris-maps-app .aeris-markerDetails  {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.aeris-maps-app .aeris-markerDetails .aeris-content {
  position: absolute;
  bottom: -10px;
  left: 0;

  width: 100%;
  box-sizing: border-box;

  border-top: 1px solid rgba(0,0,0,.25);

  padding: 10px;
  background: white;

}

.aeris-dragHandle {
  cursor: -webkit-grab;
}
.aeris-dragHandle:active {
  cursor: -webkit-grabbing;
}