<table class="methods">
  <thead>
  <tr>
    <td>Method</td>
    <td>Return value</td>
    <td>Description</td>
  </tr>
  </thead>
  {{#each methods}}
    <tr>
      <td>
        <code>
          <strong>{{name}}</strong>({{>joinparams}})
        </code>
      </td>
      <td>
        {{#if return}}
          {{>eachtypelink return.type}}
        {{/if}}
      </td>
      <td>
        {{#if description}}
          <pre>{{>eachtypeintext description}}</pre>
        {{/if}}
        {{#if return.description}}
          {{>eachtypeintext return.description}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>