<div id="sidebar">
  <a class="tocTitle" href="#">Aeris.js ({{projectConfig.version}})</a>
  <ul class="tocSection">
    <li><a href="{{projectConfig.githubUrl}}"  target="_blank">Github Repo</a></li>
    <li><a href="{{projectConfig.aerisApiUrl}}"  target="_blank">Aeris Weather API</a></li>
  </ul>

  <a class="tocTitle" href="#Introduction">Introduction</a>
  <ul class="tocSection">
    <li><a href="#Downloads">Downloads</a></li>
    <li><a href="#Getting-Started">Getting Started</a></li>
    <li><a href="#Get-An-API-Key">Get an API key</a></li>
  </ul>

  {{>toc publicApi.namespaces.aeris}}

</div>