<div class="aeris-section">
  <a href="#" class="aeris-btn aeris-btn-delete">Delete this point</a>
</div>

<div class="aeris-section">
  <div>
    Latitude: <span class="aeris-lat">{{ toDegrees latLon.[0] }}</span>
  </div>
  <div>
    Longitude:  <span class="aeris-lon">{{ toDegrees latLon.[1] }}</span>
  </div>
</div>

<div class="aeris-section">
  <div>
    Distance to here: {{ metersTo totalDistance isMetric }}
  </div>
</div>

<div class="aeris-section">
  <label>
    <input class="aeris-input-followdirections" {{ ternary followDirections 'checked' '' }} type="checkbox"/>
    Follow directions
  </label>
</div>