<div>
  <label class="aeris-markerToggle">
    <input type="checkbox" value="{{ value }}"
      {{#if selected}}
      checked
      {{/if}}
      />
    {{i18n value }}
  </label>
  <div class="aeris-markerFilterSelect"></div>
</div>